.screen {
    overflow-x: auto;
    border: 1px solid var(--screen-secondary-color);
    border-radius: 12px;
    padding: .5rem;
}

.primary-value, .secondary-value {
    display: flex;

    input {
        text-align: right;
        background: none;
        border: none;
        outline: none;
    }
}

.secondary-value {
    color: var(--screen-secondary-color);
    font-weight: normal;
    white-space: nowrap;
    margin-bottom: 0.125rem;

    input {
        font-size: 0.75rem;
    }
}