.buttons {
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(5, var(--calculator-button-size));
}

.button-row {
    display: grid;
    grid-template-columns: repeat(4,var(--calculator-button-size));
    gap: 1rem;
}

.calculator {
    width: 100%;
    display: grid;
    row-gap: 1rem;
    grid-template-rows: auto 1fr;
    grid-template-columns: minmax(0, 1fr);

}